a {
    text-decoration: none;
    color: rgba(243, 196, 196, 0.849);
}

a:hover {
    text-decoration: none;
}

.menu-bar {
    border: hidden;
    border-radius: 10%;
    background-color: rgba(114, 21, 21, 0.821);
}

#home-button {
    font-size: 20px;
    color: rgb(118, 204, 233);
    border-radius: 30px;
    margin-right: 8px;
}

.menu-item {
    list-style-type: none;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    text-align: center;
    border-radius: 100%;
}

.index-item {
    background-color: lightblue;
    text-align: center;
    float: unset;
    list-style-type: none;
    margin-bottom: 10px;
    border-radius: 250px;
    margin-left: 10%;
    margin-right: 10%;
}

.index-button {
    border-style: none;
    border-radius: 5px;
}

.index-button:hover {
    background-color: rgba(255, 99, 71, 0.233);
    color: rgb(255, 255, 255);
}

.image {
    border-radius: 20%;
    border-style: dashed;
    border-color: violet;
}

.index-image {
    height: 200px;
}

.main-image {
    height: 600px;
    align-content: center;
}

body {
    background-color: rgba(236, 130, 130, 0.432);
}